{% extends "adminbase.html.twig" %}

{% block title %}AppBundle:Admin:update{% endblock %}

{% block body %}
<h1>Mettre à jour les produits</h1>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom du produit</th>
                <th scope="col">Description</th>
                <th scope="col">Prix</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>12</td>
                <td>Chemise</td>
                <td>Couleur noir</td>
                <td>100€</td>
                <td><button class="btn btn-danger">Editer</button></td>
            </tr>
            <tr>
                <td>13</td>
                <td>Robe</td>
                <td>Manches courtes</td>
                <td>300€</td>
                <td><button class="btn btn-danger">Editer</button></td>
            </tr>

            </tbody>
        </table>
    </div>
{% endblock %}
